{"openapi":"3.1.0","info":{"title":"Nuvo Public API","description":"# Nuvo Public API\n\nThe Nuvo Public API allows you to programmatically interact with Nuvo services.\n\n## Authentication\n\nAll API requests require authentication using an API key. Include your API key in the `Authorization` header using the Bearer scheme:\n\n```\nAuthorization: Bearer sk_prod_your_api_key_here\n```\n\nAPI keys are environment-specific and prefixed accordingly:\n- **Staging**: `sk_stg_`\n- **Production**: `sk_prod_`\n\n## API Versioning\n\nSpecify the API version using the `Nuvo-API-Version` header. This header is required for all API requests.\n\n```\nNuvo-API-Version: 01-05-2026\n```\n\nCurrently supported versions: `01-05-2026`\n\n## Support\n\nFor API support, please contact your Nuvo representative or Customer Success team.","version":"01-05-2026","license":{"name":"Proprietary"}},"servers":[{"url":"https://api.nuvo.com","description":"Production"},{"url":"https://api.staging.nuvo.com","description":"Staging"},{"url":"http://api.localhost:8080","description":"Local Development"}],"paths":{"/status/healthcheck":{"get":{"tags":["Status"],"summary":"Healthcheck","description":"Healthcheck endpoint to check API availability and authentication.\n\nThis endpoint can be used to verify that:\n1. The API is accessible\n2. Your API key is valid\n3. Authentication is working correctly\n\nReturns:\n    HealthcheckResponse with status=True if the API is healthy","operationId":"healthcheck_status_healthcheck_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthcheckResponse"}}}}}}},"/customers":{"get":{"tags":["Customers"],"summary":"List Customers","description":"List customers.\n\nReturns a paginated list of customers (buyer companies) that have a\nrelationship with your organization.\n\n## Pagination\n\nResults are ordered by creation date (newest first). Use cursor-based\npagination with the `after` parameter.","operationId":"list_customers_customers_get","parameters":[{"description":"Number of results to return (1-20).","required":false,"schema":{"type":"integer","maximum":20.0,"minimum":1.0,"title":"Limit","description":"Number of results to return (1-20).","default":10},"name":"limit","in":"query"},{"description":"Cursor for pagination. Returns results after this customer ID.","required":false,"schema":{"type":"string","title":"After","description":"Cursor for pagination. Returns results after this customer ID."},"name":"after","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListCustomersResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Customers"],"summary":"Create Customer","description":"Create a new customer.\n\nCreates a new customer record with their company information and starts\na credit application. The customer will be invited to complete the\napplication via email if configured in your settings.\n\n## Response\n\nReturns the created customer object with IDs for the customer and application.","operationId":"create_customer_customers_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustomerRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustomerResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/customers/{customer_id}":{"get":{"tags":["Customers"],"summary":"Get Customer","description":"Get a customer by ID.\n\nReturns the customer (buyer company) with the specified ID if it has a\nrelationship with your organization. If the provided id is an alias of a\ncanonical customer, returns a short `{id, aliases}` object pointing at the\ncanonical id so the client can re-issue the request against it.\n\n## Errors\n\n- **400 Bad Request**: The provided id is not a valid customer id.\n- **404 Not Found**: The customer does not exist or does not belong to your organization.","operationId":"get_customer_customers__customer_id__get","parameters":[{"required":true,"schema":{"type":"string","title":"Customer Id"},"name":"customer_id","in":"path"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/CustomerResponse"},{"$ref":"#/components/schemas/CustomerAliasResponse"}],"title":"Response Get Customer Customers  Customer Id  Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Customers"],"summary":"Update Customer","description":"Update internal fields and customer ID for an existing customer.\n\nUpdates the customer application's internal fields and/or customer ID for the specified customer.\n\n## Errors\n\n- **400 Bad Request**: Internal fields are not configured, or provided section/field keys are invalid,\n  or customer ID cannot be set because an ERP integration is connected.\n- **404 Not Found**: The customer does not exist or does not belong to your organization.","operationId":"update_customer_customers__customer_id__post","parameters":[{"required":true,"schema":{"type":"string","title":"Customer Id"},"name":"customer_id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCustomerRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AddressParam":{"properties":{"line1":{"type":"string","maxLength":500,"title":"Line1","description":"Address line 1 (e.g., street, PO Box, or company name)."},"line2":{"type":"string","maxLength":500,"title":"Line2","description":"Address line 2 (e.g., apartment, suite, unit, or building)."},"city":{"type":"string","maxLength":100,"title":"City","description":"City, district, suburb, town, or village."},"state":{"type":"string","maxLength":100,"title":"State","description":"State, county, province, or region."},"postal_code":{"type":"string","maxLength":20,"title":"Postal Code","description":"ZIP or postal code."},"country":{"allOf":[{"$ref":"#/components/schemas/Country"}],"description":"Two-letter country code (ISO 3166-1 alpha-2)."}},"type":"object","title":"AddressParam","description":"Address object for billing, shipping, or company addresses."},"ContactParam":{"properties":{"email":{"type":"string","format":"email","title":"Email","description":"Email address of the contact."},"name":{"type":"string","maxLength":256,"title":"Name","description":"Full name of the contact."},"title":{"type":"string","maxLength":100,"title":"Title","description":"Job title or role of the contact."}},"type":"object","required":["email"],"title":"ContactParam","description":"Contact information for the person who will receive the credit application.\nThis is the primary point of contact on the customer side."},"Country":{"type":"string","enum":["AD","AE","AF","AG","AI","AL","AM","AO","AQ","AR","AS","AT","AU","AW","AX","AZ","BA","BB","BD","BE","BF","BG","BH","BI","BJ","BL","BM","BN","BO","BQ","BR","BS","BT","BV","BW","BY","BZ","CA","CC","CD","CF","CG","CH","CI","CK","CL","CM","CN","CO","CR","CU","CV","CW","CX","CY","CZ","DE","DJ","DK","DM","DO","DZ","EC","EE","EG","EH","ER","ES","ET","FI","FJ","FK","FM","FO","FR","GA","GB","GD","GE","GF","GG","GH","GI","GL","GM","GN","GP","GQ","GR","GS","GT","GU","GW","GY","HK","HM","HN","HR","HT","HU","ID","IE","IL","IM","IN","IO","IQ","IR","IS","IT","JE","JM","JO","JP","KE","KG","KH","KI","KM","KN","KP","KR","KW","KY","KZ","LA","LB","LC","LI","LK","LR","LS","LT","LU","LV","LY","MA","MC","MD","ME","MF","MG","MH","MK","ML","MM","MN","MO","MP","MQ","MR","MS","MT","MU","MV","MW","MX","MY","MZ","NA","NC","NE","NF","NG","NI","NL","NO","NP","NR","NU","NZ","OM","PA","PE","PF","PG","PH","PK","PL","PM","PN","PR","PS","PT","PW","PY","QA","RE","RO","RS","RU","RW","SA","SB","SC","SD","SE","SG","SH","SI","SJ","SK","SL","SM","SN","SO","SR","SS","ST","SV","SX","SY","SZ","TC","TD","TF","TG","TH","TJ","TK","TL","TM","TN","TO","TR","TT","TV","TW","TZ","UA","UG","UM","US","UY","UZ","VA","VC","VE","VG","VI","VN","VU","WF","WS","YE","YT","ZA","ZM","ZW","Other"],"title":"Country","description":"An enumeration."},"CreateCustomerRequest":{"properties":{"legal_name":{"type":"string","maxLength":256,"title":"Legal Name","description":"The customer company's legal business name."},"configuration_slug":{"type":"string","title":"Configuration Slug","description":"The slug identifier for the credit application configuration to use. "},"contact":{"allOf":[{"$ref":"#/components/schemas/ContactParam"}],"title":"Contact","description":"Primary contact for this customer."},"primary_address":{"allOf":[{"$ref":"#/components/schemas/AddressParam"}],"title":"Primary Address","description":"Primary business address for the customer company."},"sales_representative_id":{"type":"string","title":"Sales Representative Id","description":"ID of the sales representative to assign to this customer. The user must have the SALES_REP or SALES_MANAGER role in your organization."},"netsuite":{"allOf":[{"$ref":"#/components/schemas/NetSuiteParam"}],"title":"Netsuite","description":"NetSuite integration fields for linking to customer records."},"internal_fields":{"additionalProperties":{"type":"object"},"type":"object","title":"Internal Fields","description":"Internal fields for storing additional information, organized by section. Format: {section_key: {field_key: value}}. Section and field keys must match your configured internal fields schema."}},"additionalProperties":false,"type":"object","required":["legal_name","configuration_slug","contact"],"title":"CreateCustomerRequest","description":"Request body for creating a customer.\n\nCreates a new customer with their company information, primary contact,\nand optionally pre-fills application data."},"CreateCustomerResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the customer."},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Timestamp when the customer was created."},"configuration_slug":{"type":"string","title":"Configuration Slug","description":"The slug identifier for the credit application configuration."},"company":{"allOf":[{"$ref":"#/components/schemas/CustomerCompanyResponse"}],"title":"Company","description":"The customer's company."},"status":{"type":"string","title":"Status","description":"Current status of the customer application."},"internal_fields":{"additionalProperties":{"type":"object"},"type":"object","title":"Internal Fields","description":"Internal fields values organized by section. Null if internal fields are not configured. Fields without values are returned as null within their section structure."},"customer_id":{"type":"string","title":"Customer Id","description":"Custom customer ID assigned to this customer, if any."},"application_link":{"type":"string","title":"Application Link","description":"URL link to the credit application for the customer to complete."}},"type":"object","required":["id","created_at","configuration_slug","company","status","application_link"],"title":"CreateCustomerResponse","description":"Response object for a created customer. Includes all CustomerResponse fields\nplus the application link."},"CustomerAliasResponse":{"properties":{"id":{"type":"string","title":"Id","description":"The alias id that was requested."},"aliases":{"type":"string","title":"Aliases","description":"The canonical customer id this alias resolves to."}},"type":"object","required":["id","aliases"],"title":"CustomerAliasResponse","description":"Returned from GET /customers/{id} when the requested id is an alias for a\ncanonical customer. Clients should re-issue the request against\nthe `aliases` id to fetch the full customer payload."},"CustomerCompanyResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the company."},"legal_name":{"type":"string","title":"Legal Name","description":"The company's legal business name."},"primary_address":{"allOf":[{"$ref":"#/components/schemas/AddressParam"}],"title":"Primary Address","description":"Primary business address for the company."}},"type":"object","required":["id","legal_name"],"title":"CustomerCompanyResponse","description":"Company information nested within customer response."},"CustomerResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the customer."},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Timestamp when the customer was created."},"configuration_slug":{"type":"string","title":"Configuration Slug","description":"The slug identifier for the credit application configuration."},"company":{"allOf":[{"$ref":"#/components/schemas/CustomerCompanyResponse"}],"title":"Company","description":"The customer's company."},"status":{"type":"string","title":"Status","description":"Current status of the customer application."},"internal_fields":{"additionalProperties":{"type":"object"},"type":"object","title":"Internal Fields","description":"Internal fields values organized by section. Null if internal fields are not configured. Fields without values are returned as null within their section structure."},"customer_id":{"type":"string","title":"Customer Id","description":"Custom customer ID assigned to this customer, if any."}},"type":"object","required":["id","created_at","configuration_slug","company","status"],"title":"CustomerResponse","description":"Customer object returned in list and get responses."},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"HealthcheckResponse":{"properties":{"status":{"type":"boolean","title":"Status"}},"type":"object","required":["status"],"title":"HealthcheckResponse","description":"Response model for the healthcheck endpoint."},"ListCustomersResponse":{"properties":{"has_more":{"type":"boolean","title":"Has More","description":"Whether there are more results available after this set."},"customers":{"items":{"$ref":"#/components/schemas/CustomerResponse"},"type":"array","title":"Customers","description":"List of customer objects."}},"type":"object","required":["has_more","customers"],"title":"ListCustomersResponse","description":"Response object for listing customers."},"NetSuiteParam":{"properties":{"customer_id":{"type":"string","maxLength":100,"title":"Customer Id","description":"NetSuite internal customer ID. This will be used to associate the Nuvo customer with the existing NetSuite customer record."}},"type":"object","title":"NetSuiteParam","description":"NetSuite integration fields.\nUsed to link this customer to a NetSuite customer record."},"UpdateCustomerRequest":{"properties":{"internal_fields":{"additionalProperties":{"type":"object"},"type":"object","title":"Internal Fields","description":"Internal fields for this customer, organized by section. Format: {section_key: {field_key: value}}. Section and field keys must match your configured internal fields schema."},"customer_id":{"type":"string","maxLength":255,"title":"Customer Id","description":"Customer ID to assign to this customer. This is the same ID shown in the 'Assign Customer ID' modal. Cannot be set if the supplier has an ERP integration connected."}},"additionalProperties":false,"type":"object","title":"UpdateCustomerRequest","description":"Request body for updating an existing customer.\n\nInternal fields and customer ID can be updated through this endpoint."},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","description":"API key for authenticating requests. Format: `nuvo_sk_<env>_<key>`"}}},"security":[{"BearerAuth":[]}]}